apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-deployment
  labels:
    app: orders
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
        version: v1
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.28
          command:
            [
              "sh",
              "-c",
              'until nc -z postgres 5432; do echo "Waiting for PostgreSQL..."; sleep 2; done;',
            ]
      containers:
        - name: orders
          image: cluster-registry:5000/orders:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: API_URL
              value: "/api"
            - name: FLASK_APP
              value: "wsgi:app"
            - name: FLASK_ENV
              value: "production"
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: orders-db
                  key: DATABASE_URI
